/.DS_Store
/.vscode
/Localhost.session.sql
/dashboard
/enhancement2.zip
/enhancement3.zip
/enhancement4.zip
/enhancement5.zip
/enhancement6.zip
/enhancement7.zip
/enhancement8.zip
/enhancement9.zip
/final_project.zip
/variables_scope.php